body {
    margin: 25px;
    font-family: 'Muli';
}
div {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px;

    background-color: rgb(255, 255, 255);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 198, 198);
    border-radius: 5px;
}

/* ------------
    Buttons
--------------*/
button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn-workForMoney {background-color: rgb(48, 76, 238);}
#btn-getLoanFromBank{background-color: rgb(180, 52, 52);}
#btn-buyComputer{background-color: rgb(70, 167, 67);}

/* ------------
    Selector
--------------*/
label {
    display: inline-block;
    margin-right: 10px;;
}

select {
    padding: 5px;
}
